
body {
    background-color: #eeeeee;
    color: #333333;
    margin-top: 3rem;
    height: 100%;
    font-family: 'Futura', sans-serif;
    text-align: left;
    min-height: 75rem;
    padding-top: 4.5rem;
    background-image: url("/static/img/kimchi-jar-sq.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    background-color: #f8f3c9;
}
div {
    display: block;
}
form { 
    margin: 0 auto; 
    width:400px;
}
.to-left-form{
    margin: 15px; 
    widows: 200px;
}
h1,h2,h3,h4,h5 {
    font-family: 'Futura';
}
h6 {
    font-family: 'Futura';
    line-height: 180%;
}
p {
    font-size: 18px;
    font-family: 'Proxima Nova';
}
.card {
    margin: 30px;
    float: none;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}
.container {
    max-width: 960px;
}
.container-page {
    margin: 20px;
    float: none;
    margin-bottom: 10px;
}
.card-profile {
    margin: 10px;
}
.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.zipcode-form {
    margin: 15px;
}
.user-share{
    margin-left: 15px;
}
.user-info{
    margin-left: 5px;
}
:any-link {
    color: #028546;
}
.btn-dark {
    background-color: rgb(0, 0, 0);
    cursor:pointer;
}
.btn-dark:hover{
    background: #f175fc;
}
#request-btn{
    margin-left: -15px;
}

.navbar-default {
    background-color:#000000;
}
.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}
.navbar-nav .nav-link {
    color: #ffffff;
}
:any-link:hover { 
    color: #f175fc; 
}
