{% extends 'base.html' %}
{% block content %}
    
    <div>
        <h2>{{ current_user.nickname }}</h2>
        <p>{{ current_user.email }}</p>
    </div>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Account Info</legend>
            <div>
                {{ form.nickname.label }}
                <!-- validation errors -->
                {% if form.nickname.errors %}
                    {{ form.nickname }}
                    <div>
                        {% for error in form.nickname.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.nickname }}
                {% endif %}
            </div>
            <!-- <div>
                {{ form.password.label }}

                {% if form.password.errors %}
                    {{ form.password }}
                    <div>
                        {% for error in form.password.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password }}
                {% endif %}
            </div> -->
            <div>
                {{ form.zipcode.label }}

                <!-- validation errors  -->
                {% if form.zipcode.errors %}
                    {{ form.zipcode }}
                    <div>
                        {% for error in form.zipcode.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.zipcode }}
                {% endif %}
            </div>
        </fieldset>
        <div>
            {{ form.submit }}
        </div>
    </form>

{% endblock content %}




