{% extends 'base.html' %}
{% block content %}
    
    <div>
        <h2>{{ current_user.nickname }}</h2>
        <p>{{ current_user.email }}</p>
    </div>
    <br>
    <h1>Account Info</h1>
    <br>
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!--hidden_tag() method adds a CSRF(Cross-Site Request Forgery) token-->
        <fieldset>
            <div class="form-row">
                {{ form.nickname.label }}				
                {% if form.nickname.errors %}
                <div class="input-error">
                    {% for error in form.nickname.errors %}
                    {{ form.nickname }}
                    <span class="error-message" style="color:red; font-size: small">
                    {{ error }}
                    </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.nickname }}
                {% endif %}
            </div>
            <br>
            <div class="form-row">
                {{ form.phone_number.label }}				
                {% if form.phone_number.errors %}
                <div class="input-error">
                    {% for error in form.phone_number.errors %}
                    {{ form.phone_number }}
                    <span class="error-message" style="color:red; font-size: small">
                    {{ error }}
                    </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.phone_number(placeholder="+12223334444") }}
                {% endif %}
            </div>
            <br>
            <div class="form-row">
                {{ form.password.label }}				
                {% if form.password.errors %}
                <div class="input-error">
                    {% for error in form.password.errors %}
                    {{ form.password }}
                    <span class="error-message" style="color:red; font-size: small">
                    {{ error }}
                    </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.password(type="password", placeholder="password") }}
                {% endif %}
            </div>
            <br>
            <div class="form-row">
                {{ form.zipcode.label }}				
                {% if form.zipcode.errors %}
                <div class="input-error">
                    {% for error in form.zipcode.errors %}
                    {{ form.zipcode }}
                    <span class="error-message" style="color:red; font-size: small">
                    {{ error }}
                    </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.zipcode }}
                {% endif %}
            </div>
            <br>
            <div class="form-row">
                {{ form.intro.label }}				
                {% if form.intro.errors %}
                <div class="input-error">
                    {% for error in form.intro.errors %}
                    {{ form.intro }}
                    <span class="error-message" style="color:red; font-size: small">
                    {{ error }}
                    </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.intro }}
                {% endif %}
            </div>
            <br>
        </fieldset>
        <div>{{ form.submit }}</div>
    </form>

{% endblock content %}