{% extends "base.html" %}

{% block content %}
    <br>
    <h1>Log In</h1>
    <br>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <!-- //template argument generates a hidden field that includes a token that is used to protect the form against CSRF attacks -->
        <fieldset>
            <div class="form-row">
                {{ form.email.label }}				
                {% if form.email.errors %}
                <div class="input-error">
                    {% for error in form.email.errors %}
                    {{ form.email }}
                    <span class="error-message" style="color:red; font-size: small">
                    {{ error }}
                    </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.email }}
                {% endif %}
            </div>
            <br>
            <div class="form-row">
                {{ form.password.label }}				
                {% if form.password.errors %}
                <div class="input-error">
                    {% for error in form.password.errors %}
                    {{ form.password }}
                    <span class="error-message" style="color:red; font-size: small">
                    {{ error }}
                    </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.password }}
                {% endif %}
            </div>
            <br>
        </fieldset>
        <p>{{ form.submit() }}</p>
        <small>
            To Create an Account <a href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
    </form>
{% endblock content %}