{% extends "base.html" %}

{% block content %}
    <br>
    <h1>Sign In</h1>
    <br>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <!-- //template argument generates a hidden field that includes a token that is used to protect the form against CSRF attacks. All you need to do to have the form protected is include this hidden field and have the SECRET_KEY variable defined in the Flask configuration. -->
        <p>
            {{ form.email.label }}<br>
            {% if form.email.errors %}
                {{ form.email }}<br>
                    {% for error in form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
            {% else %}
                {{ form.email }}
            {% endif %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {% if form.password.errors %}
                {{ form.password }}<br>
                    {% for error in form.password.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
            {% else %}
                {{ form.password }}
            {% endif %}
        </p>
        <p>{{ form.remember() }} {{ form.remember.label }}</p>
        <p>{{ form.submit() }}</p>
        <!-- <small><a href="#">Forgot Password?</a></small> -->
        <small>
            Need An Account? <a href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
    </form>
{% endblock content %}