{% extends 'base.html' %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend> New Kimchi Jar Share </legend>
            <div>
                {{ form.share_name.label }}<br>
                <!-- validation errors -->
                {% if form.share_name.errors %}
                    {{ form.share_name}}
                    <div>
                        {% for error in form.share_name.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.share_name }}
                {% endif %}
            </div>
            <br>
            <div>
                {{ form.made_date.label }}<br>

                {% if form.made_date.errors %}
                    {{ form.made_date}}
                    <div>
                        {% for error in form.made_date.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.made_date }}
                {% endif %}
            </div>
            <br>
            <div>
                {{ form.description.label }}<br>
                <!-- validation errors -->
                {% if form.description.errors %}
                    {{ form.description }}
                    <div>
                        {% for error in form.description.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description }}
                {% endif %}
            </div>
            <br>
            <div>
                {{ form.jar_status.label }}<br>

                {% if form.jar_status.errors %}
                    {{ form.jar_status }}
                    <div>
                        {% for error in form.jar_status.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.jar_status }}
                {% endif %}
            </div>
        </fieldset>
        <br>
        <div>
            {{ form.submit }}
        </div>
    </form>
{% endblock content %}


<!-- Not a valid date value ERROR!!! -->