{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form method="POST" action=""> <!--action="" will send back to the route-->
        {{ form.hidden_tag() }}  <!--hidden_tag() method adds a CSRF token-->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Us</legend>
            <div class="form-group">
                {{ form.nickname.label }}<br>
                <!-- validation errors -->
                {% if form.nickname.errors %}
                    {{ form.nickname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-error">
                        {% for error in form.nickname.errors %}
                            <span style="color: #ff0000;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.nickname(class="form-control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label }}<br>
                <!-- validation errors -->
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-error">
                        {% for error in form.email.errors %}
                            <span style="color: #ff0000;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.phone_number.label }}<br>
                <!-- validation errors -->
                {% if form.phone_number.errors %}
                    {{ form.phone_number(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-error">
                        {% for error in form.phone_number.errors %}
                            <span style="color: #ff0000;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.phone_number(placeholder="+12223334444", class="form-control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label }}<br>
                <!-- validation errors -->
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-error">
                        {% for error in form.password.errors %}
                            <span style="color: #ff0000;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }}<br>
                <!-- validation errors -->
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-error">
                        {% for error in form.confirm_password.errors %}
                            <span style="color: #ff0000;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(class="form-control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.zipcode.label }}<br>
                <!-- validation errors -->
                {% if form.zipcode.errors %}
                    {{ form.zipcode(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-error">
                        {% for error in form.zipcode.errors %}
                            <span style="color: #ff0000;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.zipcode(class="form-control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.intro.label }}<br>
                <!-- validation errors -->
                {% if form.intro.errors %}
                    {{ form.intro(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-error">
                        {% for error in form.intro.errors %}
                            <span style="color: #ff0000;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.intro(class="form-control form-control-md") }}
                {% endif %}
        </fieldset>
        <br>
        <div class="form-group">
            {{ form.submit(class="btn btn-dark btn-sm")}}
            <br>
            <br>
            <small>
                Already Have An Account? <a href="{{ url_for('login') }}">Sign In</a>
            </small>
        </div>
    </form>
{% endblock content %}