{% extends 'base.html' %}
{% block content %}
    <br>
    <h1>Register</h1>
    <br>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
            <p>
                {{ form.nickname.label }}
                {% if form.nickname.errors %}
                    {{ form.nickname }}
                        {% for error in form.nickname.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                {% else %}
                    {{ form.nickname }}
                {% endif %}
            </p>
            <p>
                {{ form.email.label }}
                {% if form.email.errors %}
                    {{ form.email }}
                        {% for error in form.email.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                {% else %}
                    {{ form.email }}
                {% endif %}
            </p>
            <p>
                {{ form.phone_number.label }}
                {% if form.phone_number.errors %}
                    {{ form.phone_number }}
                        {% for error in form.phone_number.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                {% else %}
                    {{ form.phone_number }}
                {% endif %}
            </p>
            <p>
                {{ form.password.label }}
                {% if form.password.errors %}
                    {{ form.password }}
                        {% for error in form.password.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                {% else %}
                    {{ form.password }}
                {% endif %}
            </p>
            <p>
                {{ form.confirm_password.label }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password }}
                        {% for error in form.confirm_password.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                {% else %}
                    {{ form.confirm_password }}
                {% endif %}
            </p>
            <p>
                {{ form.zipcode.label }}
                {% if form.zipcode.errors %}
                    {{ form.zipcode }}
                        {% for error in form.zipcode.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                {% else %}
                    {{ form.zipcode }}
                {% endif %}
            </p>
            <p>
                {{ form.intro.label }}
                {% if form.intro.errors %}
                    {{ form.intro }}
                        {% for error in form.intro.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                {% else %}
                    {{ form.intro }}
                {% endif %}
            </p>
            <p>{{ form.submit() }}</p>
        <small>
            Already Have An Account? <a href="{{ url_for('login') }}">Sign In</a>
        </small>
    </form>
{% endblock content %}