{% extends 'base.html' %}
{% block content %}
    <h1>Register</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
            <div>
                {{ form.nickname.label }}
                <!-- validation errors  -->
                {% if form.nickname.errors %}
                    {{ form.nickname }}
                    <div>
                        {% for error in form.nickname.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.nickname }}
                {% endif %}
            </div>
            <div>
                {{ form.email.label }}

                <!-- validation errors  -->
                {% if form.email.errors %}
                    {{ form.email }}
                    <div>
                        {% for error in form.email.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email }}
                {% endif %}
            </div>
            <div>
                {{ form.password.label }}

                <!-- validation errors  -->
                {% if form.password.errors %}
                    {{ form.password }}
                    <div>
                        {% for error in form.password.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password }}
                {% endif %}
            </div>
            <div>
                {{ form.confirm_password.label }}

                <!-- validation errors  -->
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password }}
                    <div>
                        {% for error in form.confirm_password.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password }}
                {% endif %}
            </div>
            <div>
                {{ form.zipcode.label }}

                <!-- validation errors  -->
                {% if form.zipcode.errors %}
                    {{ form.zipcode }}
                    <div>
                        {% for error in form.zipcode.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.zipcode }}
                {% endif %}
            </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <div>
        <small>
            Already Have An Account? <a href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}