{% extends 'base.html' %}

{% block content %}
    <br>
    <h3>All Kimchi Jars</h3>
    <br>
    {% block body %}
        <form action="/share_jars" method="POST">
            <p>zipcode: <input type="text" name="zipcode"> <input type="submit"></p>
        </form>
        <br>
        {% for share in shares %}
            <article>
            <div>
                <h2><a href="{{ url_for('share', share_id=share.share_id) }}">{{ share.share_name }}</a></h2>
                <div>
                    <a href="{{ url_for('user_shares', nickname=share.user.nickname) }}">{{ share.user.nickname }}</a>
                    <small >{{ share.made_date.strftime('%m-%d-%y') }}</small>
                </div>
                <p>{{ share.description }}</p>
            </div>
            </article>
            <br>
        {% endfor %}
        
    {% endblock body %}
{% endblock content %}