{% extends 'base.html' %}

{% block content %}

    <article>
        <br>
        <div>
            <h2>{{ share.share_name }}</h2>
            <div>
                <p>Kimchi Maker: <a href="{{ url_for('user_shares', nickname=share.user.nickname) }}">{{ share.user.nickname }}</a></p>
                <p>Made on {{ share.made_date.strftime('%m-%d-%y') }}</p>
                <p>Kimchi Status: {{ share.jar_status }}</p>
            </div>
            <!-- <div class="media">
                <img class="rounded-circle account-img" src="static/img/default.jpg">
            </div> -->
            <p>About this Kimchi: {{ share.description }}</p>
        </div>
    </article>
    {% if share.user_id == current_user.user_id %}
        <li>
            <a href="{{ url_for('update_share', share_id=share.share_id) }}">Update</a>
        </li> 
        <form action="{{ url_for('delete_share', share_id=share.share_id) }}" method="POST">
            <button type="submit">Delete</button>
        </form>
    {% else %}
        <form class= "request" action="#" method="POST">
            <button type="submit">Request</button>
        </form>
    {% endif %}

{% endblock content %}