{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h5 class="col mb-4">Kimchi Jar Shares by <h1 class="col mb-4">{{ user.nickname }}</h1></h5>
        <p class="col mb-4">{{ user.intro }}</p>
        <hr>
        {% for share in shares %}
            <div class="card w-75 user-share">
                <div class="card-body">
                    <h2><a class="card-title" href="{{ url_for('share', share_id=share.share_id) }}">{{ share.share_name }}</a></h2>
                    <small class="text-muted"> maker: </small><a class="card-text" href="{{ url_for('user_shares', user_id=share.user.user_id) }}">{{ share.user.nickname }}</a>
                    <small class="text-muted"> |  made on {{ share.made_date.strftime('%m-%d-%y') }}  |  jar sharing status: {{ share.jar_status }}</small>
                    <br>
                    <br>
                    <small>notes from maker:</small><br><p class="card-text">{{ share.description }}</p>
                </div>
            </div>
        {% endfor %}
    <hr>
    <br>
        <!-- *** review form *** -->
        <form class="col mb-4" action="" method="POST">
            <h6>How did you enjoy {{ user.nickname }}'s Kimchi?</h6>
            <textarea rows="2" cols="60" name="review_comment" placeholder="comment"></textarea>
            <!-- radio button rating -->
            <div class="rating">
                <input type="radio" id="star5" name="rating" value="5" />
                <label for="star5" value="The Best!">The Best!</label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label for="star4" value="Yummy!">Yummy!</label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label for="star3" value="Pretty Good">Pretty Good</label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label for="star2" value="Hmm">Hmm</label>
                <input type="radio" id="star1" name="rating" value="1" />
                <label for="star1" value="Meh">Meh</label>
            </div>
            <h6>Review Date: <input type="text" name="review_date" placeholder="mm-dd-yy">
                <input class="btn btn-dark btn-sm" type="submit" value="submit"></h6>
            <input type="hidden" name= "maker_id" value="{{ user.user_id }}">
        </form>
        <br>
        <div>
            <h5 class="col mb-4">How was {{ user.nickname }}'s Kimchi?: </h5> 
            <hr>
            <!-- display maker's review -->
            {% for review in user.reviews %}
                <h6 class="col mb-4">Review Date: {{ review.review_date.strftime('%m-%d-%y') }} | Rating: {{ review.rating }}</h6>
                <p class="col mb-4">Comment: {{ review.comment }}</p>
                
                {% if review.reviewer_id == current_user.user_id %}
                    <form action="{{ url_for('delete_review', review_id=review.review_id) }}" method="POST">
                        <input class="btn btn-dark btn-sm delete-bt" type="submit" value="delete">
                    </form>
                {% endif %}
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock content %}