{% extends 'base.html' %}

{% block content %}
    <article>
        <div>
            <h2>{{ user.nickname }}</h2>
            <div>
                <a href="#">{{ share.user.nickname }}</a>
                <small >{{ share.made_date.strftime('%m-%d-%y') }}</small>
            </div>
            <p>{{ share.description }}</p>
        </div>
    </article>
{% endblock content %}





        <!-- {% for share in shares %}
            <article>
            <div>
                <h2><a href="{{ url_for('user', user_id=user.user_id) }}">{{ share.share_name }}</a></h2>
                <div>
                    <small >{{ share.made_date.strftime('%m-%d-%y') }}</small>
                </div>
                <p>{{ share.description }}</p>
            </div>
            </article>
            <br>
        {% endfor %} -->